body {
}

.img-container {
    position: relative;
}

.image-markup-canvas {
    cursor: url(../img/red-pen.png) 14 50, auto;
}

.context-menu-item.icon-text { background-image: url(../contextMenu/images/text.png); }
.context-menu-item.icon-blackpen { background-image: url(../contextMenu/images/blackpen.png); }
.context-menu-item.icon-redpen { background-image: url(../contextMenu/images/redpen.png); }
.context-menu-item.icon-greenpen { background-image: url(../contextMenu/images/greenpen.png); }
.context-menu-item.icon-bluepen { background-image: url(../contextMenu/images/bluepen.png); }
.context-menu-item.icon-yellowpen { background-image: url(../contextMenu/images/yellowpen.png); }
